{% extends 'student/base.html' %}

{% block content %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-lg-4 mt-4">
                <div class="card">
                    <h5 class="display-5 text-center text-success">All Course</h5>
                    <div class="card-body">
                        <h5 class="text-center">{{ mycourse }}</h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mt-4">
                <div class="card">
                    <h5 class="display-5 text-center text-success">Payment</h5>
                    <div class="card-body">
                        6
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mt-4">
                <div class="card">
                    <h5 class="display-5 text-center text-success">Text</h5>
                    <div class="card-body">
                        6
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}