{% extends 'main/base.html' %}

{% block content %}
<div class="container mt-2">
    <div class="row">
        <div class="col-lg-6 mt-2 mx-auto">
            <div class="card bg-secondary">
                <div class="card-body">
                    <h5 class="display-5 text-center text-white mt-2"><b>{{ detailcourse.name|upper }}</b></h5>
                    <h5 class="display-5 text-center text-success"><span class="text-white">₹.</span> {{ detailcourse.fee }}/:-</h5>
                    <h5 class="display-5 text-center text-white lead ">{{ detailcourse.discription }}</h5>
                    <a href="{% url 'userjoincourse' detailcourse.course_id %}" class="btn btn-warning text-white mt-3">Join Course</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

