{% extends 'main/base.html' %}

{% block content %}
<div class="container mt-2">
    <div class="row">
        {% for x in course %}
        <div class="col-lg-4 mt-2">
            <div class="card bg-secondary">
                <div class="card-body">
                    <a href="{% url 'detailcourse' x.course_id %}">
                    <h5 class="display-5 text-center text-white mt-2"><b>{{ x.name|upper }}</b></h5>
                    </a>
                    <h5 class="display-5 text-center text-success"><span class="text-white">₹.</span> {{ x.fee }}/:-</h5>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

