<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coaching management system</title>
    {% load  static %}
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand ml-5" href="{% url 'home' %}">Coaching Management System</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
         {% if user.is_authenticated %}
            <li class="nav-item ml-3"><a href="{% url 'logout' %}" class="nav-link">Logout</a></li>
        {% else %}
             <li class="nav-item ml-3"><a href="{% url 'login' %}" class="nav-link">Login</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid p-0">
    <div class="row no-gutters">
        <div class="col-lg-3">
            <div class="list-group">
                <a href="{% url 'admindashaboard' %}" class="list-group list-group-item list-group-item-action">Dashaboard</a>
                <a href="{% url 'addcourse' %}" class="list-group list-group-item list-group-item-action">Add Course</a>
                <a href="{% url 'requestforaddmision' %}" class="list-group list-group-item list-group-item-action">Request for Admission</a>
                <a href="{% url 'requestforcourse' %}" class="list-group list-group-item list-group-item-action">Request for Course</a>
                <a href="{% url 'allstudent' %}" class="list-group list-group-item list-group-item-action">Student Record</a>
                <a href="" class="list-group list-group-item list-group-item-action">All Due payment</a>
                <a href="" class="list-group list-group-item list-group-item-action">Payment Reacord</a>
                <a href="" class="list-group list-group-item list-group-item-action">Request for Payment</a>
                <a href="{% url 'logout' %}" class="list-group list-group-item list-group-item-action">Logout</a>
            </div>
        </div>
        <div class="col-lg-9">{% block content %} {% endblock %}</div>
    </div>
</div>

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>